	<head>
		<title>{{ page.title }} - Atlas de Histología Humana</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,user-scalable=0,width=device-width">
		<!-- Compiled and minified CSS -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
		<link rel="stylesheet" href="http://www.atlasdehistologiahumana-unach.com/materialize/css/materialize.css">
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://www.atlasdehistologiahumana-unach.com/materialize/js/materialize.js"></script>
	</head>