<header>
	<nav>
		<div class="nav-wrapper">
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="http://www.atlasdehistologiahumana-unach.com/">INICIO</a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		<center><a style="font-size: 3em;" class="orange-text text-accent-1">ÍNDICE</a></center>
		<li><a href="http://www.atlasdehistologiahumana-unach.com/contenido/ojo/">1. OJO</a></li>
		<li><a href="http://www.atlasdehistologiahumana-unach.com/contenido/oido/">2. OÍDO</a></li>
		<li><a href="http://www.atlasdehistologiahumana-unach.com/contenido/cardiovascular/">3. S. CARDIOVASCULAR</a></li>
		<li><a href="http://www.atlasdehistologiahumana-unach.com/contenido/respiratorio/">4. S. RESPIRATORIO</a></li>
		<li><a href="http://www.atlasdehistologiahumana-unach.com/contenido/digestivo/">5. S. DIGESTIVO</a></li>
		<li><a href="http://www.atlasdehistologiahumana-unach.com/contenido/urigenital/">6. A. UROGENITAL</a></li>
	</ul>
	<script type="text/javascript">
	$(document).ready(function(){
		$('.sidenav').sidenav();
	});      
	</script>
</header>
